<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jfeat.am.module.task.services.persistence.dao.TaskReferenceMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.jfeat.am.module.task.services.persistence.model.TaskReference">
		<id column="id" property="id" />
		<result column="taskId" property="taskId" />
		<result column="referenceName" property="referenceName" />
		<result column="referenceId" property="referenceId" />
		<result column="version" property="version" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, taskId, referenceName, referenceId,version
    </sql>

</mapper>
